/* screen - globe-explorers */

.globe-explorers {
  background-color: transparent;
  margin: 0px;
  min-height: 3836px;
  min-width: 2055px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.globe-explorers .fundoteste-2-lbtJoV {
  background-color: transparent;
  height: 3836px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.iaframe {
  width: 710px;
  position: absolute;
  top: 10px;
}

.apiframe {
  width: 646px;
  position: absolute;
  top: 2px;
  height: 51px;
}

.accframe {
  width: 1050px;
  position: absolute;
  top: 2px;
  height: 51px;
}

.concframe {
  width: 446px;
  position: absolute;
  top: 2px;
  height: 41px;
}

.team{
  position: absolute;
    height: 190px;
    top: 20px;
    left: 25px;
    width: 95%;
}

.globe-explorers .arabe-1-lbtJoV {
  background-color: transparent;
  height: 700px;
  left: calc(50.00% + 658px);
  object-fit: cover;
  position: absolute;
  top: 3136px;
  width: 358px;
  filter: sepia(0) drop-shadow(2px 4px 6px black);
}

.globe-explorers .americana-1-lbtJoV {
  background-color: transparent;
  height: 641px;
  left: calc(50.00% - 936px);
  object-fit: cover;
  position: absolute;
  top: 3195px;
  width: 215px;
  filter: sepia(1) drop-shadow(2px 4px 6px black);
}

.globe-explorers .vidrojogo-lbtJoV {
  background-color: transparent;
  height: 710px;
  left: calc(50.00% - 670px);
  overflow: hidden;
  position: absolute;
  top: 422px;
  width: 1409px;
}

.globe-explorers .glass-EnYWl2 {
  background-color: transparent;
  height: 710px;
  left: calc(50.00% - 704px);
  position: relative;
  top: 1px;
  width: 1409px;
}

.globe-explorers .material-dDB78k {
  border-radius: 25.14px;
  height: 710px;
  left: calc(50.00% - 704px);
  width: 1409px;
}

.globe-explorers .thin-JsOKgc {
  -webkit-backdrop-filter: blur(62.838043212890625px) brightness(100%);
  backdrop-filter: blur(62.838043212890625px) brightness(100%);
  height: 710px;
  left: calc(50.00% - 704px);
  width: 1409px;
}

.globe-explorers .divdojogo-lbtJoV {
  background-color: transparent;
  border: 7.104201793670654px solid;
  border-color: var(--white);
  border-radius: 23.68px;
  box-shadow: 0px 4.7361345291137695px 4.7361345291137695px #00000040;
  height: 622px;
  left: calc(50.00% - 486px);
  overflow: hidden;
  position: absolute;
  top: 465px;
  width: 1040px;
}

.globe-explorers .telajogo-jxvdZS {
  background-color: transparent;
  height: 625px;
  left: calc(50.00% - 620px);
  position: relative;
  top: 1px;
  width: 1240px;
}

.globe-explorers .material-P0Drua {
  border-radius: 22.12px;
  height: 625px;
  left: calc(50.00% - 620px);
  width: 1240px;
}

.globe-explorers .thin-ROIUBa {
  -webkit-backdrop-filter: blur(55.297481536865234px) brightness(100%);
  backdrop-filter: blur(55.297481536865234px) brightness(100%);
  height: 625px;
  left: calc(50.00% - 620px);
  width: 1240px;
}

.globe-explorers .titulo-lbtJoV {
  background-color: transparent;
 
  height: 190px;
  left: calc(50.00% - 602px);
  position: absolute;
  top: 22px;
  width: 1280px;
}

.globe-explorers .title-oOFaDc {
  -webkit-text-stroke: 6.465454578399658px var(--fern-frond);
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 646px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3.6945455074310303px 3.6945455074310303px #00000040;
  top: 9px;
  width: auto;
}

.globe-explorers .globe-explores-oOFaDc {
  top: 5px;
}

.globe-explorers .globe-explores-kaPF4F {
  top: 1px;
}

.globe-explorers .globe-explores-jP7xMa {
  top: -3px;
}

.globe-explorers .globe-explores-RnJP4E {
  top: -6px;
}

.globe-explorers .main-vidro-lbtJoV {
  background-color: transparent;
    height: 2649px;
    left: calc(50.00% - 550px);
    overflow: hidden;
    position: absolute;
    top: 1156px;
    width: 1185px;
}

.globe-explorers .glass-Cw7K7i {
  background-color: transparent;
  height: 2849px;
  left: calc(50.00% - 592px);
  position: absolute;
  top: 1px;
  width: 1185px;
}

.globe-explorers .material-JNyZUq {
  border-radius: 40.37px;
  height: 2849px;
  left: calc(50.00% - 592px);
  width: 1185px;
}

.globe-explorers .thin-8XHoTs {
  -webkit-backdrop-filter: blur(100.9161605834961px) brightness(100%);
  backdrop-filter: blur(100.9161605834961px) brightness(100%);
  height: 2849px;
  left: calc(50.00% - 592px);
  width: 1185px;
}

.globe-explorers .foto1-Cw7K7i {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% + 156px);
  overflow: hidden;
  position: absolute;
  top: 358px;
  width: 386px;
}

.globe-explorers .glass-am4Blq {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% - 193px);
  position: relative;
  top: 1px;
  width: 386px;
}

.globe-explorers .material-DTPrBO {
  border: 3.094188690185547px solid;
  border-color: var(--soapstone);
  border-radius: 13.15px;
  height: 224px;
  left: calc(50.00% - 193px);
  width: 386px;
}

.globe-explorers .thin-4reD8D {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .foto2-Cw7K7i {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% + 156px);
  overflow: hidden;
  position: absolute;
  top: 610px;
  width: 386px;
}

.globe-explorers .glass-3KYck7 {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% - 193px);
  position: relative;
  top: 0px;
  width: 386px;
}

.globe-explorers .material-xsPXno {
  border: 3.094188690185547px solid;
  border-color: var(--soapstone);
  border-radius: 13.15px;
  height: 224px;
  left: calc(50.00% - 193px);
  width: 386px;
}

.globe-explorers .thin-BR2BWI {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .foto3-Cw7K7i {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% + 156px);
  overflow: hidden;
  position: absolute;
  top: 861px;
  width: 386px;
}

.globe-explorers .glass-IQAhiA {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% - 193px);
  position: relative;
  top: 0px;
  width: 386px;
}

.globe-explorers .material-7trdSv {
  border: 3.094188690185547px solid;
  border-color: var(--soapstone);
  border-radius: 13.15px;
  height: 224px;
  left: calc(50.00% - 193px);
  width: 386px;
}

.globe-explorers .thin-3Pz8xH {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .foto4-Cw7K7i {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% + 156px);
  overflow: hidden;
  position: absolute;
  top: 1112px;
  width: 386px;
}

.globe-explorers .glass-cXek05 {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% - 193px);
  position: relative;
  top: 1px;
  width: 386px;
}

.globe-explorers .material-HgKg6e {
  border: 3.094188690185547px solid;
  border-color: var(--soapstone);
  border-radius: 13.15px;
  height: 224px;
  left: calc(50.00% - 193px);
  width: 386px;
}

.globe-explorers .thin-bYCtxG {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .storytelling-Cw7K7i {
  background-color: transparent;
  height: 413px;
  left: calc(50.00% - 574px);
  overflow: hidden;
  position: absolute;
  top: 598px;
  width: 711px;
}

.globe-explorers .glass-bnIkAr {
  background-color: transparent;
  height: 413px;
  left: calc(50.00% - 355px);
  position: relative;
  top: 1px;
  width: 711px;
}

.globe-explorers .material-k9cgaT {
  border: 3px solid;
  border-color: var(--soapstone);
  border-radius: 24.21px;
  height: 413px;
  left: calc(50.00% - 355px);
  width: 711px;
}

.globe-explorers .thin-qsojJi {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .foto-equipe-Cw7K7i {
  background-color: transparent;
  height: 327px;
  left: calc(50.00% - 506px);
  overflow: hidden;
  position: absolute;
  top: 2060px;
  width: 1012px;
}

.globe-explorers .glass-9cJ5rG {
  background-color: transparent;
  height: 327px;
  left: calc(50.00% - 506px);
  position: relative;
  top: 0px;
  width: 1012px;
}

.globe-explorers .material-fSEFeS {
  border: 4.272176265716553px solid;
  border-color: var(--soapstone);
  border-radius: 34.47px;
  height: 327px;
  left: calc(50.00% - 506px);
  width: 1012px;
}

.globe-explorers .thin-4vg8Wd {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .glass-CRgJC4 {
  background-color: transparent;
  height: 71px;
  left: calc(50.00% - 355px);
  position: relative;
  top: 1px;
  width: 711px;
}

.globe-explorers .material-Yhkn3H {
  border: 3px solid;
  border-color: var(--soapstone);
  border-radius: 15px;
  height: 71px;
  left: calc(50.00% - 355px);
  width: 711px;
}

.globe-explorers .thin-RkupkP {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .glass-bnEzbm {
  background-color: transparent;
  height: 71px;
  left: calc(50.00% - 355px);
  position: relative;
  top: 1px;
  width: 711px;
}

.globe-explorers .material-qxWqTL {
  border: 3px solid;
  border-color: var(--soapstone);
  border-radius: 15px;
  height: 71px;
  left: calc(50.00% - 355px);
  width: 711px;
}

.globe-explorers .thin-BRfOjU {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .link-ia-Cw7K7i {
  background-color: transparent;
  height: 55px;
  left: calc(50.00% - 564px);
  overflow: hidden;
  position: absolute;
  top: 1620px;
  width: 650px;
}

.globe-explorers .link-acess-Cw7K7i {
  background-color: transparent;
  height: 55px;
  left: calc(50.00% - 524px);
  overflow: hidden;
  position: absolute;
  top: 2070px;
  width: 1050px;
}

.globe-explorers .link-ia2-Cw7K7i {
  background-color: transparent;
    height: 45px;
    left: calc(50.00% - -115px);
    overflow: hidden;
    position: absolute;
    top: 1620px;
    width: 450px;
}

.globe-explorers .glass-YzMTRO {
  background-color: transparent;
  height: 71px;
  left: calc(50.00% - 554px);
  position: relative;
  top: 0px;
  width: 1107px;
}

.globe-explorers .material-qmOuCv {
  border: 3px solid;
  border-color: var(--soapstone);
  border-radius: 15px;
  height: 71px;
  left: calc(50.00% - 554px);
  width: 1107px;
}

.globe-explorers .thin-F61nLp {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .texto-Cw7K7i {
  left: calc(50.00% - 564px);
  top: 390px;
  width: 691px;
}

.globe-explorers .texto-Ll017X {
  left: calc(50.00% - 552px);
  top: 60px;
  width: 691px;
}

.globe-explorers .texto-ZUw5cg {
  left: calc(50.00% - 564px);
  top: 1030px;
  width: 691px;
}

.globe-explorers .feet-Cw7K7i {
  background-color: transparent;
  height: 234px;
  left: calc(50.00% - 506px);
  overflow: hidden;
  position: absolute;
  top: 2398px;
  width: 1012px;
}

.globe-explorers .glass-C9kLE7 {
  background-color: transparent;
  height: 224px;
  left: calc(50.00% - 506px);
  position: relative;
  top: 0px;
  width: 1012px;
}

.globe-explorers .material-z0U0cM {
  border-radius: 13.15px;
  height: 224px;
  left: calc(50.00% - 506px);
  width: 1012px;
}

.globe-explorers .thin-JKDVph {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  height: 100%;
  left: 0px;
  width: 100%;
}

.globe-explorers .texto-QVihfX {
  left: calc(50.00% - 200px);
  top: 1384px;
  width: 700px;
}

.globe-explorers .fotoia-Cw7K7i{
  background-color: transparent;
  height: 224px;
  left: calc(50.00% + -550px);
  overflow: hidden;
  position: absolute;
  top: 1372px;
  width: 340px;
}

.globe-explorers .fotodata-Cw7K7i{
  background-color: transparent;
  height: 210px;
  left: calc(50.00% + -550px);
  overflow: hidden;
  position: absolute;
  top: 1840px;
  width: 630px;
}

.globe-explorers .fotoacc-Cw7K7i{
  background-color: transparent;
  height: 210px;
  left: calc(50.00% + -120px);
  overflow: hidden;
  position: absolute;
  top: 2145px;
  width: 630px;
}


.globe-explorers .fotocon-Cw7K7i{
  background-color: transparent;
    height: 160px;
    left: calc(50.00% + 140px);
    overflow: hidden;
    position: absolute;
    top: 1880px;
    width: 400px;
}

.globe-explorers .texto-DFVGxe {
  left: calc(50.00% - 564px);
  top: 1583px;
  width: 1103px;
}

.globe-explorers .ref1-Cw7K7i {
  background-color: transparent;
    height: auto;
    left: calc(50.00% - -120px);
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 1690px;
    width: 450px;
    word-wrap: break-word;
}

.globe-explorers .ref12-Cw7K7i {
  background-color: transparent;
    height: auto;
    left: calc(50.00% - 560px);
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 1720px;
    width: 630px;
    word-wrap: break-word;
}

.globe-explorers .ref13-Cw7K7i {
  background-color: transparent;
    height: auto;
    left: calc(50.00% - 500px);
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 2140px;
    width: 350px;
    word-wrap: break-word;
}

.globe-explorers .ref2-Cw7K7i {
  background-color: transparent;
    height: auto;
    left: calc(50.00% - 560px);
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1720px;
    width: 550px;
    word-wrap: break-word;
}

.globe-explorers .ref2-Cw7K7i {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 556px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1950px;
  width: 1103px;
  word-wrap: break-word;
}

.globe-explorers .ref3-Cw7K7i {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 556px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2026px;
  width: 1103px;
}

.globe-explorers .videopitch-lbtJoV {
  background-color: transparent;
    height: 223px;
    left: calc(50.00% + 156px);
    overflow: hidden;
    position: absolute;
    top: 100px;
    width: 384px;
}

.globe-explorers .telavideo-JVxnYl {
  background-color: transparent;
  height: 223px;
  left: calc(50.00% - 192px);
  position: relative;
  top: 0px;
  width: 384px;
}

.globe-explorers .material-EX1V0Q {
  border: 3.0781564712524414px solid;
  border-color: var(--soapstone);
  border-radius: 13.08px;
  height: 223px;
  left: calc(50.00% - 192px);
  width: 384px;
}

.globe-explorers .thin-yEerKl {
  -webkit-backdrop-filter: blur(32.702308654785156px) brightness(100%);
  backdrop-filter: blur(32.702308654785156px) brightness(100%);
  height: 223px;
  left: calc(50.00% - 192px);
  width: 384px;
}

.globe-explorers .brasileira-1-lbtJoV {
  background-color: transparent;
  height: 619px;
  left: calc(50.00% + 738px);
  object-fit: cover;
  position: absolute;
  top: 1389px;
  width: 198px;
  filter: invert(84%) sepia(30%) saturate(3862%) hue-rotate(165deg) brightness(94%) contrast(94%) drop-shadow(2px 4px 6px black);
}

.globe-explorers .japones-1-lbtJoV {
  background-color: transparent;
  height: 822px;
  left: calc(50.00% - 936px);
  object-fit: cover;
  position: absolute;
  top: 1262px;
  width: 248px;
  filter: invert(89%) sepia(60%) saturate(1302%) hue-rotate(45deg) brightness(95%) contrast(50%) drop-shadow(2px 4px 6px black);
}

.globe-explorers .globe-explores {
  -webkit-text-stroke: 6.465454578399658px var(--fern-frond);
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 646px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3.6945455074310303px 3.6945455074310303px #00000040;
  width: auto;
}

.globe-explorers .material {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  top: 0px;
}

.globe-explorers .pitch {

  position: absolute;
  top: 1260px;

}

.globe-explorers .texto {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  word-wrap: break-word;
}

.globe-explorers .thin {
  background-color: var(--mine-shaft);
  position: relative;
  top: 0px;
}
