.glass{
   /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */

   background: linear-gradient(359deg, rgba(255, 255, 255, 0.1), rgb(0 0 0 / 70%));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logo{
        /* background-color: transparent; */
        height: 400px;
        left: calc(50.00% - 552px);
        position: absolute;
        /* top: 22px; */
        width: 1040px;
}

@media (max-width: 1056px) {
    .globe-explorers {
      zoom: 0.6; /* Este zoom pode funcionar em alguns navegadores, mas nÃ£o Ã© amplamente suportado */
    }
  }
  
  @media (max-width: 768px) {
    .globe-explorers {
      zoom: 0.4; /* Este zoom pode funcionar em alguns navegadores, mas nÃ£o Ã© amplamente suportado */
    }
  }

  @media (max-width: 400px) {
    .globe-explorers {
      zoom: 0.1; /* Este zoom pode funcionar em alguns navegadores, mas nÃ£o Ã© amplamente suportado */
    }
  }

  .globe-explorers{
    zoom: 0.7;
  }

  
