:root { 
  --black: #000000;
  --fern-frond: #4f751e;
  --mine-shaft: #333333;
  --soapstone: #fffbfb;
  --white: #ffffff;
 
  --font-size-m: 143.7px;
  --font-size-s: 16.7px;
  --font-size-xs: 13.6px;
 
  --font-family-fredoka_one: "Fredoka One", Helvetica;
  --font-family-inter: "Inter", Helvetica;
}
.fredokaone-normal-white-143-7px {
  color: var(--white);
  font-family: var(--font-family-fredoka_one);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-13-6px {
  color: var(--white);
  font-family: var(--font-family-fredoka_one);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-16-7px {
  color: var(--white);
  font-family: var(--font-family-fredoka_one);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

:root {
}
